body {
  background: linear-gradient(to bottom, rgb(11, 149, 229), #105edc);
  text-align: center;
}

.title {
  font-size: 70px;
  margin: 20px;
  font-family: YuMincho;
}

.text {
  font-family: "STKaiti";
  font-weight: bold;
  font-size: 150px;
  display: inline-block;
  writing-mode: vertical-rl;
  margin: 20px;
}

.black-box {
  background: #000000;
  width: 50%;
  display: inline-block;
  margin: 20px;
}

.white-box {
  background: #ffffff;
  width: 90%;
  display: inline-block;
  margin: 20px;
}

.form input {
  font-size: 40px;
  padding: 10px;
  width: 20%;
}

.form button {
  background: linear-gradient(to right,#c70000,#d28300,#dfd000,#00873c,#005aa0,#181878,#800073);;
  border: none;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  width: 20%;
}

